.header-WWE {
    position: relative;
}

.header-WWE :nth-child(1) {
    width: 100%;
    height: 250px;
    object-fit: cover;
    opacity: 0.6;
    z-index: -900;
}

.header-WWE :nth-child(2) {
    width: 200px;
    height: 150px;
    position: absolute;
    left: 44%;
    top: 10%;
    opacity: 0.6;
}

.header-WWE :nth-child(3) {
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 17px;
    left: 45.5%;
    font-weight: 900;
    font-family: "Roboto", "Verdana", "Arial", sans-serif;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px gray;
}