.histoire {
    width: 900px;
    margin: auto;
}

.introduction {
    border-radius: 20px;
    box-shadow: inset 1px 1px 15px lightgoldenrodyellow;
    color: white;
    padding: 20px;
    margin-top: 20px;
    background-color: black;
    opacity: 0.7;
    transition: .4s ease-in-out;
}

.introduction:hover {
    transform: scale(1.1);
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex img {
    border-radius: 20px;
}

.introduction :nth-child(1) {
    text-align: center;
    margin-bottom: 20px;
}

.introduction :nth-child(2) {
    text-align: center;
}