.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    padding: 0.5em 1em;
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px red;
    z-index: 1;
}

nav ul {
    display: flex;
    gap: 2em;
    margin-left: 10px;
}

nav ul li {
    position: relative;
}

nav a {
    font-size: 20px;
    color: white;
    font-weight: bold;
    transition: .3s ease-in-out;
}

nav a:hover {
    color: gold;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
    border-radius: 10px;
}

.dropdown-content li a {
    padding: 12px 16px;
}


.dropdown:hover .dropdown-content {
    display: block;
}