@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --color-title: #2c75ff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    width: 100%;
    min-height: 100vh;
    color: var(--color-body);
    font-family: "Poppins", sans-serif;
    background-image: url(../Ressources/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

/* header+nav */



/* ------------------------------- */

h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-family: "Russo One", sans-serif;
    color: var(--color-title);
}

/* cards principales */
.cards-catch {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 370px;
    height: 694px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    box-shadow: inset 1px 1px 10px gold;
    transition: .4s ease-in-out;
}



.card:hover {
    transform: scale(1.05);
}



.image-blur {
    mask-image: linear-gradient(rgba(244, 14, 14, 1), transparent);
    border-radius: 20px;
}

.inside-card {
    width: 370px;
    height: 347px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    color: white;
}

/* ------------------------------- */

.video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.histoire h2 {
    text-align: center;
    margin: 30px 30px;
    color: white;
}

.frise-catch h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}

.frise-catch {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.frise {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    background-color: #444;
    color: white;
    opacity: 0.6;
}

footer {
    background-color: #444;
    height: 50px;
    text-align: center;
}

@media(max-width: 768px) {
    .cards-catch {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .video {
        width: 500px;
        margin: auto;

    }
    
}
