@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --color-title: #2c75ff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}


body {
    width: 100%;
    min-height: 100vh;
    color: var(--color-body);
    font-family: "Poppins", sans-serif;
    background-image: url(../Ressources/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.show {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.roaster-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.cards {
    width: 300px;
    height: 300px;
    background-color: black;
    opacity: 0.8;
    border-radius: 10px;
    margin: 10px;
    position: relative;
}

.cards img {
    width: 100%;
    height: 100%;
    /* border: 2px solid white ; */
    border-radius: 10px;
    object-fit: contain;
    transition: 0.4s ease-in-out;
}

.cards img:hover {
    transform: scale(1.05);
}

.cards p {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 4%;
    left: 10%;
}

footer {
    background-color: #444;
    height: 50px;
    text-align: center;
}