@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

:root {
    --color-title: #2c75ff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100%;
    min-height: 100vh;
    color: var(--color-body);
    font-family: "Poppins", sans-serif;
    background-image: url(../Ressources/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}


h1 {
    color: var(--color-title);
    text-align: center;
    margin: 30px;
}

.header-WWE {
    position: relative;
}

.header-WWE :nth-child(1) {
    width: 100%;
    height: 240px;
    object-fit: cover;
    opacity: 0.6;
    z-index: -900;
}

.header-WWE :nth-child(2) {
    width: 200px;
    height: 150px;
    position: absolute;
    left: 44%;
    top: 20%;
    opacity: 0.6;
}

.histoire {
    width: 900px;
    margin: auto;
}

.introduction {
    border-radius: 20px;
    box-shadow: inset 1px 1px 15px lightgoldenrodyellow;
    color: white;
    padding: 20px;
    margin-top: 20px;
    background-color: black;
    opacity: 0.7;
}

.flex {
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex img {
    border-radius: 20px;
}

.introduction :nth-child(1) {
    text-align: center;
    margin-bottom: 20px;
}

.introduction :nth-child(2) {
    text-align: center;
}