@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root {
    --color-title: #2c75ff
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100%;
    min-height: 100vh;
    color: var(--color-body);
    font-family: "Poppins", sans-serif;
    background-image: url(../Ressources/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

/* nav */
.logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 1em;
}

nav ul {
    display: flex;
    gap: 2em;
    margin-left: 10px;
}

nav ul li {
    position: relative;
}

nav a {
    font-size: 20px;
    color: white;
    font-weight: bold;
    transition: .3s ease-in-out;
}

nav a:hover {
    color: gold;

}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444;
    border-radius: 10px;
}

.dropdown-content li a {
    padding: 12px 16px;
}


.dropdown:hover .dropdown-content {
    display: block;
}
/* ----------------------------- */

h1 {
    color: var(--color-title);
    text-align: center;
    margin: 30px;
}

.header-WWE {
    position: relative;
}

.header-WWE :nth-child(1) {
    width: 100%;
    height: 250px;
    object-fit: cover;
    opacity: 0.6;
}

.header-WWE :nth-child(2) {
    width: 200px;
    height: 150px;
    position: absolute;
    left: 43%;
    top: 25%;
}
