/* Style général du menu */
.navbar ul {
  list-style: none;
  background-color: #333;
  padding: 0;
  margin: 0;
  display: flex;
}

/* Liens principaux */
.navbar ul li {
  position: relative;
}

.navbar ul li a {
  display: block;
  padding: 14px 20px;
  color: white;
  text-decoration: none;
}

.navbar ul li a:hover {
  background-color: #555;
}

/* Contenu du menu déroulant */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444;
  min-width: 160px;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.dropdown-content li a {
  padding: 12px 16px;
}

/* Affichage du menu au survol */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Optionnel : effet visuel */
.dropdown-content li a:hover {
  background-color: #666;
}
